Data-Ingester-Pipeline/pipeline/Data Ingester Smart Data.json
{
    "name": "Data Ingester Smart Data",
    "properties": {
        "activities": [
            {
                "name": "GetGitHubToken",
                "type": "WebActivity",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "GET",
                    "url": "https://kv-curso-smartdata.vault.azure.net/secrets/github-token?api-version=7.0",
                    "authentication": {
                        "type": "MSI",
                        "resource": "https://vault.azure.net/"
                    }
                }
            },
            {
                "name": "TriggerGitHubAction",
                "description": "Trigger GitHub Action to process Kaggle dataset",
                "type": "WebActivity",
                "dependsOn": [
                    {
                        "activity": "GetGitHubToken",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "method": "POST",
                    "headers": {
                        "Authorization": {
                            "value": "@{concat('token ', activity('GetGitHubToken').output.value)}",
                            "type": "Expression"
                        },
                        "Accept": "application/vnd.github.v3+json",
                        "Content-Type": "application/json"
                    },
                    "url": "https://api.github.com/repos/gquintal/data-ingester-adb/actions/workflows/kaggle-ingest.yml/dispatches",
                    "body": {
                        "ref": "develop",
                        "inputs": {
                            "dataset": "@{pipeline().parameters.dataset}",
                            "container_name": "@{pipeline().parameters.container_name}"
                        }
                    }
                }
            },
            {
                "name": "Wait1",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "TriggerGitHubAction",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "waitTimeInSeconds": 120
                }
            },
            {
                "name": "Move To Bronze",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Wait1",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": true,
                            "wildcardFileName": "*csv",
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "DS_Source",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "DS_Sink",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "Delete raw",
                "type": "Delete",
                "dependsOn": [
                    {
                        "activity": "Move To Bronze",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "DS_Source",
                        "type": "DatasetReference"
                    },
                    "enableLogging": false,
                    "storeSettings": {
                        "type": "AzureBlobFSReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    }
                }
            },
            {
                "name": "Bronze",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Delete raw",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Repos/certificaciones@lattevida.onmicrosoft.com/data-ingester-adb/transformation/proceso/extraction to bronze"
                },
                "linkedServiceName": {
                    "referenceName": "LS_Databricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Silver",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Repos/certificaciones@lattevida.onmicrosoft.com/data-ingester-adb/transformation/proceso/transform to silver"
                },
                "linkedServiceName": {
                    "referenceName": "LS_Databricks",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Gold",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Repos/certificaciones@lattevida.onmicrosoft.com/data-ingester-adb/transformation/proceso/load to gold"
                },
                "linkedServiceName": {
                    "referenceName": "LS_Databricks",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "parameters": {
            "dataset": {
                "type": "string",
                "defaultValue": "jillanisofttech/flight-price-prediction-dataset"
            },
            "container_name": {
                "type": "string",
                "defaultValue": "raw"
            }
        },
        "annotations": []
    }
}